<template name="NavBar">

                <div class="content-block-title">{{_ 'menuTitle'}}</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content close-panel">
                            <a class="close-panel" href="{{pathFor 'about'}}">
                                <div class="item-inner">
                                    <div class="item-title ">{{_ 'about'}}</div>
                                </div>
                            </a>
                        </li>
                        <li class="item-content close-panel">
                            <a class="close-panel" data-action="log-out" href="#">
                                <div class="item-inner">
                                    <div class="item-title ">Log Out</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
</template>